body {
    background-color: rgb(32, 34, 37);
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: large;
    margin: 0 auto;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
}

.item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 34em;
    height: 6em;
    padding: 10px;
    border-radius: 20px;
    margin: 1vw;
    border: solid 3px transparent;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255)), linear-gradient(to right bottom, #ff00dd, #15ff00);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.item:hover {
    cursor: pointer;
}

img {
    float: left;
    padding-right: 5px;
}

.content {
    display: contents;
}

.content:nth-child(2n)::after {
    content: '';
    width: 100%;
}

.operational {
    background-image: linear-gradient(rgb(35, 212, 94), rgb(35, 212, 94)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}
.operational:hover {
    background-image: linear-gradient(rgb(21, 139, 60), rgb(21, 139, 60)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.minor {
    background-image: linear-gradient(rgb(233, 139, 31), rgb(233, 139, 31)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.minor:hover {
    background-image: linear-gradient(rgb(184, 98, 1), rgb(184, 98, 1)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.critical {
    background-image: linear-gradient(rgb(194, 20, 20), rgb(194, 20, 20)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.critical:hover {
    background-image: linear-gradient(rgb(136, 13, 13), rgb(136, 13, 13)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.maintenance {
    background-image: linear-gradient(rgb(25, 182, 255), rgb(25, 182, 255)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.maintenance:hover {
    background-image: linear-gradient(rgb(19, 155, 218), rgb(19, 155, 218)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.unresponsive {
    background-image: linear-gradient(rgb(59, 59, 59), rgb(59, 59, 59)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}

.unresponsive:hover {
    background-image: linear-gradient(rgb(22, 22, 22), rgb(22, 22, 22)), linear-gradient(to right bottom, #ff9cf2, #21cbff);
}
